<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django.form</title>
</head>
<body>
<form action="/form01/test/" method="get">
    {{ form }}
    <input type="submit" value="提交">

</form>

{#<form action="/xxx" method="post" enctype="multipart/form-data">#}
{#    <label for="uname">用户名</label>#}
{#    <input id="uname" type="text" name="username">#}
{#    <input type="password" name="password" placeholder="请输入用户名">#}
{#    <input type="checkbox" name="like" value="1" checked="checked">#}
{#    <input type="checkbox" name="like" value="2">#}
{#    <input type="checkbox" name="like" value="3">#}
{#    <input type="radio" name="sex" value="1">男#}
{#    <input type="radio" name="sex" value="2">女#}
{##}
{#    <input type="file" multiple name="file">#}
{#    <input type="email" name="email">#}
{#    <input type="datetime-local">#}
{#    <textarea rows="30" cols="20"></textarea>#}
{##}
{#     <select name="" id="">#}
{#         <option>1</option>#}
{#         <option>1</option>#}
{#         <option>1</option>#}
{#         <option>1</option>#}
{#     </select>#}
{##}
{#        <input type="button">#}
{#        <input type="submit">#}
{#        <input type="img">#}
{#</form>#}
</body>
</html>